process {
    errorStrategy = { task.exitStatus in [137,140,143] ? 'retry' : 'terminate' }
    maxRetries = 1

    withLabel: tiny { cpus = 1; memory = 2.GB; time = 1.h }
    withLabel: small { cpus = 2; memory = 6.GB; time = 4.h }
    withLabel: medium { cpus = 4; memory = 16.GB; time = 8.h }
    withLabel: align { cpus = 16; memory = 24.GB; time = 24.h }
    withLabel: gatk { cpus = 4; memory = 16.GB; time = 24.h }

    withName: FASTQC { container = "${params.container_dir}/fastqc.sif" }
    withName: FASTP { container = "${params.container_dir}/fastp.sif" }
    withName: ALIGN_BWA_MEM2 { container = "${params.container_dir}/bwa_mem2.sif" }
    withName: SORT_BAM { container = "${params.container_dir}/samtools.sif" }
    withName: MARK_DUPLICATES { container = "${params.container_dir}/gatk.sif" }
    withName: ALIGNMENT_QC { container = "${params.container_dir}/samtools.sif" }
    withName: BQSR { container = "${params.container_dir}/gatk.sif" }
    withName: HAPLOTYPE_CALLER { container = "${params.container_dir}/gatk.sif" }
    withName: GENOTYPE_GVCF { container = "${params.container_dir}/gatk.sif" }
    withName: HARD_FILTER { container = "${params.container_dir}/gatk.sif" }
    withName: VARIANT_STATS { container = "${params.container_dir}/bcftools.sif" }
}

timeline.enabled = true
timeline.file = "${params.outdir}/pipeline_info/execution_timeline.html"
report.enabled = true
report.file = "${params.outdir}/pipeline_info/execution_report.html"
trace.enabled = true
trace.file = "${params.outdir}/pipeline_info/execution_trace.txt"
dag.enabled = true
dag.file = "${params.outdir}/pipeline_info/pipeline_dag.html"
