params {
    input = 'tests/stub/samplesheet.csv'
    reference = 'tests/stub/reference.fa'
    intervals = null
    skip_bqsr = true
    outdir = 'test-results'
    container_dir = 'tests/stub-containers'
    stub_mode = true
}
process {
    executor = 'local'
    cpus = 1
    memory = 1.GB
    time = 10.m
}
